<%= form_for @entry do |f| %>
  <p>
    <%= f.label :date_for, "Entry For" %>
    <%= f.date_select :date_for %>
  </p>

  <p>
    <%= f.text_area :content, cols: 40, rows: 20 %>
  </p>

  <%= f.button %>
<% end %>
