<h1>Resources</h1>
<% @topics.each do |topic| %>
  <h2>
    <%= topic.title %>
  </h2>
  <p>
    <%= topic.description %>
  </p>
  <ul>
  <% topic.resources.each do |resource| %>
    <li>
      <%= link_to(resource.title, resource.url) %>
      <%= resource.description %>
      <div class="types">
        Types:
        <% resource.types.each do |type| %>
          <%= link_to(type.title, types_path(type)) %>
        <% end %>
      </div>
    </li>
  <% end %>
  </ul>
<% end %>
