<!DOCTYPE html>
<html>
  <head>
    <title>Interntrak</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div id="navigation">
        <div id="logo-home-link" class="image-link-buttons">
          <%= link_to image_tag("train-track.jpg", alt: "interntrak-logo"), root_path %>
        </div>
        <div id="user-img-link" class="image-link-buttons">
          <%= link_to image_tag("temp-user-img.png", alt: "user-img"), edit_user_registration_path %>
        </div>
      </div>
      <div id="right-column">
        <div class="login"></div>
        <div class="content"></div>
      </div>
    </div>

    <% if user_signed_in? %>
      <%= link_to('Sign out', sign_out_path, class: "btn btn__link", :method => :delete) %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
